*{
  padding: 0;
  margin: 0;
}
body{
  text-align: center;
  font-family: sans-serif;
  background-color: deepskyblue;
  font-size: 22px;
}

h1{
  font-size: 32px;
  margin-top: 2vh;
}
h2{
  margin-top: 1vh;
}
p{
  /* font-size: 22px; */
  margin: 10px 0 0 0;
}
form{
  margin: 10px 0;
}
p.ukrainian-word{
  color:yellow
}
.show-all{
  margin-bottom: 10px;
}
input, button{
  height: 30px;
  font-size: 22px;
  padding: 0px 2px;
  margin-top: 10px;
}

.show-everything{
  padding-top: 50px;
  justify-content: center;
 }
 ul{
  margin-top: 2vh;
 }
 li{
  margin-top: 1vh;
 }
 a{
  text-decoration: none;
  color: #444;
  transition: color .5s;
 }
 a:hover{
  color: #888;
 }
 .row{
  display: flex;
 }
 .letter, .backspace{
  box-sizing: content-box;
  padding: 4px;
 }
 .space{
  width: 200px;
  height: 22px;
  padding: 8px;
 }

